{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker}}
{% endif %}	

{% if api %}
	{% if api == "Error..."%}
		There was a problem with your ticker
		symbol, please try again...
	{% else %}

		<h1>{{api.companyName}}</h1><br/>
		Price: S{{ api.latestPrice}}<br/>
		Previous close: {{ api.previousClose}}<br/>
		Market cap: {{ api.marketCap}}<br/>
		ytd Change: {{ api.ytdChange}}<br/>
		Week 52 Hight: {{ api.week52High}}<br/>
		Week 52 Low:{{ api.week52Low}}<br/>
	
			

    {% endif %}	
{% endif %}

{% endblock %}
